[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
pymongo = "*"
openai = "*"
sqlmodel = "*"
psycopg2 = "*"
uvicorn = "*"
psycopg2-binary = "*"
alembic = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.8"
