[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pandasai = "*"
uvicorn = "*"
pydantic = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "*"
